<div class="modal fade" id="ShowProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details</h5>

                <div style="float:right">
                    <a href='#' onclick='callprodedit();'><i class='fas fa-edit'></i></a>
                    <a href='#' onclick='callproddelete();'><i class='fas fa-trash'></i></a>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class='fas fa-times'></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="wrapper">
                    <div id="div1"><img id="imgbigprev"  width="400" /></div>
                    <div id="div2">
                        <div>
                            <div class="mb-3">
                                <div class="form-group has-validation  d-inline-flex  align-items-center">
                                    <label for="recipient-name" class="col-form-label">Size</label>
                                    <label for="recipient-name" id="lblSize" class="col-form-label"></label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="mb-3">
                                <div class="form-group has-validation  d-inline-flex  align-items-center">
                                    <label for="recipient-name" class="col-form-label">Price:</label>
                                    <label for="recipient-name" id="lblprice" class="col-form-label"></label>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="mb-3">
                                <div class="form-group has-validation  d-inline-flex  align-items-center">
                                    <label for="recipient-name" class="col-form-label">Colour:</label>
                                    <label for="recipient-name" id="lblcolour" class="col-form-label"></label>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="mb-3">
                                <div class="form-group has-validation  d-inline-flex  align-items-center">
                                    <label for="recipient-name" class="col-form-label">Made:</label>
                                    <label for="recipient-name" id="lblmade" class="col-form-label"></label>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="mb-3">
                                <div class="form-group has-validation  d-inline-flex  align-items-center">
                                    <label for="recipient-name" class="col-form-label">Style:</label>
                                    <label for="recipient-name" id="lblstyle" class="col-form-label"></label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="mb-3">
                                <div class="form-group has-validation  d-inline-flex  align-items-center">
                                    <label for="recipient-name" class="col-form-label">Gender:</label>
                                    <label for="recipient-name" id="lblGender" class="col-form-label"></label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="mb-3">
                                <div class="form-group has-validation  d-inline-flex  align-items-center">
                                    <label for="recipient-name" class="col-form-label">Description:</label>
                                    <label for="recipient-name" id="lbldescription" class="col-form-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Yes</button>*@
                <input type="hidden" id="hdnProdId" name="custId" value="0">
            </div>
        </div>
    </div>
</div>
